<h2 align='center'>Estoque</h2>
<%= label_tag 'txtBusca', 'Pesquisar' %>
<%= text_field_tag 'txtBusca', '', :class => 'span11 input-search', :id => 'txtBusca',:placeholder => "Buscar nesta lista", :alt =>"list_stocks" %>
<table class="table list_stocks">
  <thead>
    <tr>
      <th>Produto</th>
			<th>Descrição</th>      
      <th>Quantidade</th>
    </tr>
  </thead>
  <tbody>
    <% @stocks.each do |s| %>
      <tr class="<%if s.amount <= s.product.minimum_stock %>error<%end%>">
        <td><%= s.product %></td>
        <td><%= s.product.description %></td>
        <td><%= s.amount %></td>
      </tr>
    <% end %>
  </tbody>
</table>
<%= link_to 'Gerar lista de compras', shopping_list_stocks_path, class: "btn btn-success" %>
