<p>
  <strong>Paciente:</strong>
  <%= @patient.name %>
</p>

<p>
  <strong>Data de Nasc:</strong>
  <%= l @patient.birth_date if @patient.birth_date.present? %>
</p>

<p>
  <strong>telefone:</strong>
  <%= @patient.phone %>
</p>
<p>
	<strong>Endereço:</strong>
	<%= @patient.address %>
</p>
<br>
<hr>
<% @events.each do |e|%>
	<% unless @patient.participating(e.id) %>
		<%= link_to "Participar da #{e}", new_event_patient_path(event_id: e.id, patient_id: @patient.id),:class => "btn btn-info" %>	
	<% end %>
<%end%>
<%= link_to "Editar", edit_patient_path(@patient),:class => "btn btn-primary" %>
<%= link_to "Voltar", patients_path,:class => "btn btn" %>

<hr>
<h3>Meus Eventos</h3>
<% @patient.event_patients.each do |e|%>
	<div class="accordion-group">
	    <div class="accordion-heading">
	      <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion2" href="#<%=e.event.id%>">
			  <h5> <%= e.event.name %> </h5> 
	      </a>
	    </div>
	    <div id="<%=e.event.id%>" class="accordion-body collapse">
			<div class="alert alert-info">
				<p>
				  <strong>Data Relização:</strong>
				  <%= l e.event.date_start %> a <%= l e.event.date_end %>
				</p>
				<p>
					<strong>Valor:</strong>
					<%= number_to_currency e.event.price %>
				</p>
				<p>
					<strong>Situação:</strong>
					<%= e.status_event_patient_humanize %>
				</p>
	
				<%= link_to "Ação", edit_event_patient_path(e, event_id: e.event_id, patient_id: e.patient_id),:class => "btn btn-info" %>								
			</div>
	    </div>
	</div>
<% end %>