<h4 class='text-info text-center'>Estátistica de paciente</h4>
	<h4 class='text-info'>Quantidade de pacientes por cidade</h4>
	<%contador = 0 %>
	<% @patients.group_by(&:city).each do |city, patients| %>
	<%contador =  contador + 1 %>
	<div class="accordion-group">
	    <div class="accordion-heading">
	      <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion2" href="#<%=contador%>">
					<h5><%= city %>:  <%= patients.count %> paciente(s) </h5> 
	      </a>
	    </div>
	    <div id="<%=contador%>" class="accordion-body collapse">
	      <div class="accordion-inner">
						<h4 class='text-info'>Quantidade de pacientes por bairro</h4>
					<%patients.group_by(&:neighborhood).each do |neighborhood, patients|%>
						<div class="alert alert-success">
							<%= neighborhood %>: <%=  patients.count %> paciente(s)<br>
							<%patients.each do |p| %>
								<%= link_to "#{p}", edit_patient_path(p) %><br>
							<% end %>					
						</div>
					<% end %>
	      </div>
	    </div>
	</div>
	<% end %>
	<h4 class='text-info'>Quantidade de pacientes: <%= @patients.count %></h4>


	