
<div class="alert alert-success"><h4>Quantidade de pacientes: <%= @patients.count %></h4></div>

<div class="alert alert-success">
	<strong>Quantidade de pacientes por cidade</strong>
<% @patients.group_by(&:city).each do |city, patients| %>
		<div class="alert alert-success">
			<h5><%= city %>:</h5> <%= patients.count %> paciente(s)<br>
			<strong>Quantidade de pacientes por bairro</strong><br>			
			<%patients.group_by(&:neighborhood).each do |neighborhood, patients|%>
				<div class="alert alert-success">
					<%= neighborhood %>: <%=  patients.count %> paciente(s)<br>
					<%patients.each do |p| %>
						<%= link_to "#{p}", edit_patient_path(p) %><br>
					<% end %>					
				</div>
			<% end %>
		</div>
<% end %>
</div>

	