<div class="form-actions">

<h3>Entrar</h3>

<%= simple_form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
  <div class="form-inputs">
    <%= f.input :email, required: false%>
    <%= f.input :password, required: false, label: "Senha" %>
  </div>

    <%= f.button :submit, "Entrar", class: "btn btn-primary" %>
<% end %>
</div>

<%= render "devise/shared/links" %>
