<ul class="nav nav-pills">
 <li role="presentation" class="<% if  params[:controller] == "dashboard"%>active<%end%>"><a href="<%= root_path %>"><h5 title="Home">Principal</h5></a></li>
  	<li role="presentation" class="<% if  params[:controller] == "members"%>active<%end%>"><a href="<%= members_path%>"><h5 title="Membros">Membros</h5></a></li>
  	<li role="presentation" class="<% if  params[:controller] == "patients"%>active<%end%>"><a href="<%= patients_path%>"><h5 title="Pacientes">Pacientes</h5></a></li>
  	<li role="presentation" class="<% if  params[:action] == "statistics"%>active<%end%>"><a href="<%= statistics_patients_path%>"><h5 title="Estátistica">Estátistica Pacientes</h5></a></li>
  	<li role="presentation" class="<% if  params[:controller] == "products"%>active<%end%>"><a href="<%= products_path%>"><h5 title="Produtos">Produtos</h5></a></li>
		<li role="presentation" class="<% if  params[:controller] == "inputs"%>active<%end%>"><a href="<%= inputs_path%>"><h5 title="Entradas">Entradas</h5></a></li>  	
		<li role="presentation" class="<% if  params[:controller] == "outputs"%>active<%end%>"><a href="<%= outputs_path%>"><h5 title="Saídas">Saídas</h5></a></li>  	
		<li role="presentation" class="<% if  params[:controller] == "stocks"%>active<%end%>"><a href="<%= stocks_path%>"><h5 title="Estoque">Estoque</h5></a></li>  	
		<li role="presentation" class="<% if  params[:controller] == "scales"%>active<%end%>"><a href="<%= scales_path%>"><h5 title="Escalas">Escalas</h5></a></li> 
		<li role="presentation" class="<% if  params[:controller] == "reminders"%>active<%end%>"><a href="<%= reminders_path%>"><h5 title="Notícias">Notícias</h5></a></li> 
		<li role="presentation" class="<% if  params[:controller] == "documents"%>active<%end%>"><a href="<%= documents_path%>"><h5 title="Notícias">Documentos</h5></a></li> 
		<li role="presentation" class="<% if  params[:controller] == "studies"%>active<%end%>"><a href="<%= studies_path%>"><h5 title="Estudos">Estudos</h5></a></li> 

</ul>
