<!DOCTYPE html>
<html>
  <head>
 <%= stylesheet_link_tag "application" %>
    <%= csrf_meta_tags %>
  </head>
  <body>
		<%= render 'layouts/navegation_bar' %>
		<% if user_signed_in? %>
			<%= render 'layouts/menu'%>		
    <% end %>		
		<%= render 'layouts/messages' %>
		
		<div class="container-fluid">
			<div class="span13" id="content">
				<div class="block row-fluid">
					<div class="block-content collapse in">
						<div class="row-fluid">
							<%= render 'layouts/studies' %>								
							<div class="span6">
								<%= render 'layouts/news' %>								
							</div>
							<div class="span3">
								<%= yield %>
								<hr>
								<%= render 'layouts/localization' %>																
							</div>
						</div>
						
					</div>
				</div>	
			</div>
		</div>
		<div class="block">
				<p class='text-center'>
					<br>					
					<strong>
					Rua Vila Lobos - Vila São José<br>
					34.000.000 - Nova Lima MG<br>
					(31)3694-1148
					</strong>
				</p>				
		</div>
  </body>
<%= javascript_include_tag  "application" %>
</html>

